/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.card.card-container {
    max-width: 300px;
    margin: 0 auto;
    border: none;
    margin-top: 20px;
}
.card.card-container img {
    vertical-align: middle;
    border: 1px solid rgb(206 193 193);
}
.form-group {
    margin-top: 10px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group button {
    width: 100%;
}

